@model airbnb.Models.Home

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Add image</h2>
    @using (Html.BeginForm("UploadPicture",
        "Homes",
        FormMethod.Post,
        new {enctype = "multipart/form-data"}))
{
        <input type="hidden" name="id" id="id" value="@Model.Id"/>
        <input type="file" name="file" id="file"/>
    <br><br>
    <input type="submit" value="Upload Image"/>
    <br><br>
    @ViewBag.Message
    }
</div>